################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/client/obj/Debug
/service/obj/Debug
